/datasets/cityscapes
/datasets/validation_dataset

/newtrainings/bisenet_ce/checkpoint.pth.tar
/newtrainings/bisenet_ce/model_best.pth.tar
/newtrainings/bisenet_ce/model_best.pth

/results/TABLE_1
/results/TABLE_2
/results/TABLE_3_ce
/results/TABLE_4
/